/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

::-webkit-input-placeholder {
   color: #ff6666;
   font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
   color: #ff6666;
   font-style: italic;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #ff6666;
   font-style: italic; 
}

:-ms-input-placeholder {  
   color: #ff6666;
   font-style: italic;  
}

.carousel-caption {
	position: initial;
	text-shadow: none;
}

.carousel-indicators {
  bottom: -20px;
}

.carousel-indicators li {
	border: 1px solid #000;
}

.carousel-indicators .active {
	margin: 0;
	width: 12px;
	height: 12px;
	border: 3px solid #000;
}

.panel-title {
	text-align: left;
	text-transform: uppercase;
}

.panel-group .panel {
	border-radius: 0;
	border: 0;
	box-shadow: none;
}

.panel-default.active>.panel-heading {
	background-color: #000;
	border: 0;
	background-image: none;
	color: #fff;
	border-radius: 0;
	padding: 20px;
}

.panel-default>.panel-heading {
  background-color: #F7F7F7;
  border: 0;
  background-image: none;
  color: #000;
  border-radius: 0;
  padding: 20px;
}

.panel-default .panel-title {
	position: relative;
}
.panel-default.active .panel-title:after {
	content: "";
	position: absolute;
	right: 5px;
	top: 7px;
	width: 15px;
	height: 2px;
	background-color: #fff;
}

.panel-default .panel-title:after {
	content: "";
	position: absolute;
	right: 4px;
  	top: 11px;
	width: 15px;
	height: 2px;
	background-color: #000;
}
.panel-default .panel-title:before {
	content: "";
	position: absolute;
	right: 10px;
  	top: 5px;
	width: 2px;
	height: 15px;
	background-color: #000;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
	text-align: left;
	padding: 30px;
}

.panel-title>a:hover,
.panel-title>a:focus {
  text-decoration: none;
}

.panel-group {
	margin-bottom: 0;
}

.alert {
  width: 50%;
  position: fixed;
  z-index: 99;
  top: 15%;
  left: 25%;
}

body {
	font-family: 'Open Sans', sans-serif;
}

a {
	-webkit-transition: all .2s ease-in-out;
	   -moz-transition: all .2s ease-in-out;
	    -ms-transition: all .2s ease-in-out;
	     -o-transition: all .2s ease-in-out;
	        transition: all .2s ease-in-out;
}

#banner .heading {
	font-family: 'Raleway', sans-serif;
}

#site-wrapper {
	width: 1300px;
	margin: 0 auto;
}


.logo-wrapper {
	position: fixed;
  	z-index: 1;
  	display: inline-block;
  	height: 90px;
 	width: 1300px;
 	padding-top: 20px;
  	padding-left: 80px;
  	padding-right: 80px;
  	-webkit-transition: all .2s ease-in-out;
  	   -moz-transition: all .2s ease-in-out;
  	    -ms-transition: all .2s ease-in-out;
  	     -o-transition: all .2s ease-in-out;
  	        transition: all .2s ease-in-out;
}

.logo-wrapper.fixed {
	background-color: rgba(51, 51, 51, 0.95);
	z-index: 9999;
	height: 70px;
	padding-top: 10px;
}


.logo-wrapper .logo {
  	float: left;
}

.logo-wrapper .main-nav ul li a {
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  color: #fff;
}

.logo-wrapper .main-nav ul li a:hover,
.logo-wrapper .main-nav ul li a:focus,
.logo-wrapper .main-nav ul li a.active {
	color: red;
	text-decoration: none;
}

.logo-wrapper .main-nav ul li {
	float: left;
	margin: 0 20px;
}

.logo-wrapper .main-nav ul {
	list-style-type: none;
}

.logo-wrapper .main-nav {
	display: inline-block;
	float: right;
}

#home {
	height: 620px;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.heading p {
	font-size: 17px;
	font-style: italic;
	margin-top: 0;
	margin-bottom: 60px;
}

.heading h1 {
	font-size: 60px;
	color: red;
	margin-bottom: 0;
	margin-top: 50px;
	text-transform: uppercase;
}

.heading h1 span.black {
  	color: #000;
}

.heading h1 span.white {
  	color: #fff;
}

.heading h1 span.black.thin {
  	font-weight: 600;
}

.heading {
	text-align: center;
	overflow: hidden;
}

#home .heading {
  position: relative;
  z-index: 1;
  color: #fff;
  text-align: center;
  margin-top: 150px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
}

#home .heading p {
	font-size: 18px;
	margin-bottom: 0px;
	font-style: normal;
}

#home .heading h1 {
  font-weight: 900;
  font-size: 56px;
  margin-top: 0;
  color: #fff;
}

.slider {
	list-style-type: none;
}

.slider li {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.slider-image {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100%;
}

#our-services {
	height: 770px;
}

.content {
	text-align: center;
}

ul.portfolio li {
	float: left;
	width: 280px;
	background-color: #ff6666;
	height: 450px;
	color: #fff;
	padding: 50px 20px 0;
	margin: 0 5px;
}

ul.portfolio {
	list-style-type: none;
	padding: 0;
	display: inline-block;
	margin: 0 auto;
}

ul.portfolio li.item h3 {
	font-size: 32px;
	text-transform: uppercase;
	line-height: 28px;
	margin: 20px -20px;
	font-weight: 800;
}

#outsource {
  	background-color: #f3f3f3;
  	height: 740px;
}

#about-us {
	height: 1300px;
	background-image: url('assets/images/about-us/bg-img.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#about-us .content {
	padding: 0 100px;
	text-align: left;
}

.content-inner {
	display: block;
	overflow: hidden;
}

.content-inner p {
	text-align: justify;
}

.content .title {
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	padding-left: 20px;
	margin-bottom: 0;
}

.col-2 {
	width: 50%;
	float: left;
	padding: 0 20px;
}

.col-4 {
	width: 25%;
	float: left;
	height: 315px;
	padding: 0 20px;
	position: relative;
}

#our-client {
	height: 700px;
}

.client-logo {
	margin: 15px 35px;
}

#customers {
	height: 580px;
	background-image: url('assets/images/customers/bg-img.jpg');
	filter: alpha(opacity=40);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#customers .heading p {
	margin-bottom: 20px;
}

#customers {
	color: #ededed;
}

#customers .content-inner {
	padding: 0 40px;
}
#customers .content-inner p {
	text-align: left;
}

.who {
	position: absolute;
	bottom: 0;
}

#logistics-network {
	height: 1320px;
	background-image: url('assets/images/logistics-network/bg-img.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.sub-heading p {
	font-size: 18px;
	text-transform: uppercase;
	margin: 0;
	color: #000;
}

.sub-heading {
	position: absolute;
	bottom: 70px;
	left: 40px;
	font-family: 'Raleway', sans-serif;
	text-align: left;
	text-transform: uppercase;
	font-weight: 800;
}

.sub-heading h3 {
	font-size: 50px;
	color: #ff3333;
	margin: 0;
	font-weight: 800;
}

.path-1 {
	position: absolute;
	left: 405px;
	top: 394px;
	height: 228px;
}

.path-2 {
	position: absolute;
	right: 150px;
	top: 402px;
	height: 219px;
}

#our-careers ul.portfolio li.item h3 {
	margin-bottom: 50px;
	margin-top: 0px;
	font-size: 30px;
}

#our-careers ul.portfolio li.item {
	margin-left: 2px;
	margin-right: 2px;
}

.welcome {
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	margin-top: 0;
  	margin-bottom: 30px;
}

.welcome .thin {
	font-weight: 400;
}

#contact-us {
  	height: 605px;
  	background-color: #ff6666;
}

#contact-us .heading p {
  margin-bottom: 20px;
}

#contact-us .heading,
#contact-us .heading h1 {
  	color: #fff;
}

#contact-us .heading h1 {
  	margin-top: 20px;
}

input[type="text"],  input[type="tel"], input[type="email"] {
	width: 230px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	border: 0;
	padding: 5px 10px;
}

input[type="submit"] {
	background-color: #000;
	color: #fff;
	padding: 10px 20px;
	border: 0;
}

textarea {
	width: 485px;
	height: 185px;
	border: 0;
	margin-top: 10px;
	padding: 5px 10px;
}

.file-upload {
	position: relative;
	overflow: hidden;
}

.btn {
	background-color: #4b4b4b;
	display: inline-block;
	padding: 10px 39px;
	color: #FFF;
	line-height: 10px;
	float: right;
}

.file-upload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

.upload-wrapper {
  width: 485px;
  margin: 10px auto;
  display: block;
  overflow: hidden;
}

.upload-wrapper input[type="text"] {
  width: 350px;
  margin: 0;
  float: left;
}

footer {
	height: 50px;
	text-align: center;
	background-color: #333;
	color: #fff;
	padding-top: 15px;
}

footer p {
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 0;

}

.loader {
	margin-right: 10px;
	display: none;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
	display: none !important;
	visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

@media print,
	   (-o-min-device-pixel-ratio: 5/4),
	   (-webkit-min-device-pixel-ratio: 1.25),
	   (min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
	*,
	*:before,
	*:after {
		background: transparent !important;
		color: #000 !important; /* Black prints faster:
								   http://www.sanbeiji.com/archives/953 */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links that are fragment identifiers,
	 * or use the `javascript:` pseudo protocol
	 */

	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	/*
	 * Printing Tables:
	 * http://css-discuss.incutio.com/wiki/Printing_Tables
	 */

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
